# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

#scapi build
install/*
build/*
compile-*
.cproject
.project
protocols/GMW/CMakeFiles/*
cmake-build-debug/
protocols/GMW/CMakeCache.txt
protocols/GMW/GMW.cbp
protocols/GMW/Makefile
protocols/GMW/Parties
protocols/GMW/cmake_install.cmake
protocols/YaoSingleExecution/GC_FILE
protocols/YaoSingleExecution/YaoSingleExecution
protocols/YaoSingleExecution/emp_format_circuit.txt
protocols/ReplicatedSecretSharing3PartiesArithmetic/Makefile
protocols/ReplicatedSecretSharing3PartiesArithmetic/ReplicatedSecretSharing3PartiesArithmetic
docs/build
Makefile
tests/Makefile
tests/ScapiTests
examples/Makefile

# Fortran module files
*.mod
.idea/

# Compiled Static libraries
*.lai
*.la
libscapi.a
protocols/GMW/libgmw.a
protocols/YaoSingleExecution/libyaoSingleExecution.a
*.lib

# Executables
*.exe
*.out
*.app
*.suo
*.opensdf
*.sdf
*.idb
*.log
*.pdb
*.tlog
*.lastbuildstate
*unsuccessfulbuild
*.ipch
*.ilk
*.iobj
*.opendb
*.ipdb
config_for_test.txt
*.VC.db
*~
examples/libscapi_example
callgrind.*
lib/OTExtensionBristol/SimpleOT/ot_sender_test
lib/OTExtensionBristol/SimpleOT/ot_receiver_test
protocols/GMW/GMW
protocols/GMW/GMW.cbp

# macOS specific
.DS_Store

#other
protocols/MaliciousYao/OfflineP1_*
protocols/MaliciousYao/OfflineP2_*
protocols/MaliciousYao/OnlineP1_*
protocols/MaliciousYao/OnlineP2_*
protocols/GMW/NigelAes9Parties.txt
protocols/GMW/AesInputs*.txt
protocols/YaoSingleExecution/Makefile
CMakeCache.txt
CMakeFiles/
build/
cmake_install.cmake
install/
lib/JsonCpp/CMakeFiles/
libscapi.cbp
obj/
protocols/GMW/CMakeFiles/
*.json
*.cbp
